# Python
__pycache__/
*.py[cod]
*.class
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Output files
*.json
*.txt
*.bpe
*.pth

# GPT model files
**/gpt2/
**/gpt2/**

# Virtual Environment
venv/
env/
ENV/

# IDE settings
.vscode/
.cursor/
.idea/
.DS_Store
